<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
  <title>ADD NEW VIDEO</title>
</head>
<body>
<div class="main-body" layout:fragment="content">
  <div class="page-body">
    <div class="row">
      <div class="col-md-12 mb-2">
        <div class="page-header-breadcrumb">
          <ul class="breadcrumb-title">
            <li class="breadcrumb-item">
              <a th:href="@{/admin}">
                <i class="feather icon-home"></i> Trang chủ
              </a>
            </li>
            <li class="breadcrumb-item"><a th:href="@{/admin/video/add}">Thêm mới video</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h2 class="text-uppercase text-center">Thêm mới video</h2>
          </div>
          <div class="card-block">
            <form th:object="${video}" th:action="@{/admin/video/add}" method="post">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Tiêu đề</label>
                    <input th:field="*{title}" type="text" name="title" class="form-control"/>
                    <span class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
                  </div>
                  <div class="form-group">
                    <label>Url</label>
                    <input th:field="*{url}" type="text" name="url" class="form-control"/>
                    <span class="text-danger" th:if="${#fields.hasErrors('url')}" th:errors="*{url}"></span>
                  </div>
                  <div class="form-group">
                    <input th:field="*{image}" type="hidden" id="imageData"/>
                    <label>Hình đại diện</label>
                    <input type="file" name="imageUpload" id="imageUpload" class="form-control"
                           accept="image/x-png,image/jpeg,image/jpg"/>
                    <a id="imageUrl" class="text-primary font-italic"></a>
                    <!--                    <span class="text-danger" th:if="${#fields.hasErrors('image')}" th:errors="*{image}"></span>-->
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Thời lượng (phút)</label>
                    <input th:field="*{timeCount}" type="number" name="timeCount" class="form-control"/>
                  </div>
                  <div class="form-group">
                    <label>Khóa học</label>
                    <select th:field="*{courseId}" name="" id="" class="form-control">
                      <option th:each="item: ${courses}" th:value="${item.getId()}" th:text="${item.getTitle()}"
                              value="">Java script căn bản
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group mt-3">
                    <button type="submit" class="btn btn-primary m-b-0">Lưu lại</button>
                    <a th:href="@{/admin/video}" class="btn btn-secondary text-white">Quay lại</a>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<th:block layout:fragment="script">
  <script>
      let imageUpload = document.getElementById("imageUpload");
      imageUpload.addEventListener("change", event => {
          let imageFile = event.target.files[0];
          let formData = new FormData();
          formData.append("file", imageFile);

          axios({
              url: "http://localhost:8082/admin/image/upload",
              method: "POST",
              data: formData
          }).then(res => {
              // console.log(res.data);
              let imageUrl = "http://localhost:8082" + res.data;
              let imageUrlLink = document.getElementById("imageUrl");
              let imageData = document.getElementById("imageData")
              imageUrlLink.innerHTML = imageUrl;
              imageUrlLink.setAttribute("href", imageUrl);
              imageData.value = imageUrl;
          }).catch(err => {
              console.log(err);
          })
      })
  </script>
</th:block>
</body>
</html>