<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
  <meta charset="UTF-8">
  <title>ADD NEW COURSE</title>
</head>
<body>
<div class="main-body" layout:fragment="content">
  <div class="page-body">
    <div class="row">
      <div class="col-md-12 mb-2">
        <div class="page-header-breadcrumb">
          <ul class="breadcrumb-title">
            <li class="breadcrumb-item">
              <a th:href="@{/}"> <i class="feather icon-home"></i> Trang
                chủ</a>
            </li>
            <li class="breadcrumb-item"><a th:href="@{/course/add}">Thêm mới khóa học</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h2 class="text-uppercase text-center">Thêm mới khóa học</h2>
          </div>
          <div class="card-block">
            <form th:object="${course}" th:action="@{/course/add}" method="post">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Tiêu đề</label>
                    <input th:field="*{title}" type="text" name="title"
                           class="form-control"/>
                    <span class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
                  </div>
                  <div class="form-group">
                    <label>Số bài học</label>
                    <input th:field="*{lectureCount}" type="number" name="leturesCount"
                           class="form-control"/>
                    <span class="text-danger" th:if="${#fields.hasErrors('lectureCount')}"
                          th:errors="*{lectureCount}"></span>
                  </div>
                  <div class="form-group">
                    <label>Số giờ học</label>
                    <input th:field="*{hourCount}" type="number" name="hourCount"
                           class="form-control"/>
                    <span class="text-danger" th:if="${#fields.hasErrors('hourCount')}" th:errors="*{hourCount}"></span>
                  </div>
                  <div class="form-group">
                    <label>Danh mục</label>
                    <select th:field="*{categoryId}" name="categoryId" class="form-control text-uppercase">
                      <option th:each="item: ${categories}" th:value="${item.getId()}" th:text="${item.getTitle()}">
                        Frontend
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Giá bán</label>
                    <input th:field="*{price}" type="text" name="price"
                           class="form-control"/>
                    <span class="text-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
                  </div>
                  <div class="form-group">
                    <label>Giảm giá (%)</label>
                    <input th:field="*{discount}" type="number" name="discount"
                           class="form-control"/>
                    <span class="text-danger" th:if="${#fields.hasErrors('discount')}" th:errors="*{discount}"></span>
                  </div>
                  <div class="form-group">
                    <label>Mô tả</label>
                    <input th:field="*{description}" type="text" name="description"
                           class="form-control"/>
                    <span class="text-danger" th:if="${#fields.hasErrors('description')}"
                          th:errors="*{description}"></span>
                  </div>
                  <div class="form-group">
                    <label>Hình đại diện</label>
                    <input th:field="*{image}" type="hidden" id="imageData" class="form-control"/>
                    <input type="file" name="imageUpload" id="imageUpload"
                           accept="image/x-png,image/jpeg,image/jpg"/>
                    <a id="imgUri" class="text-primary font-italic"></a>
                    <span class="text-danger" th:if="${#fields.hasErrors('image')}" th:errors="*{image}"></span>
                  </div>
                </div>
                <div class="col-12">
                  <label>Nội dung</label>
                  <textarea th:field="*{content}" name="content" class="form-control"
                            rows="5"></textarea>
                  <span class="text-danger" th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></span>
                </div>
                <div class="col-12 mt-3">
                  <div class="form-group">
                    <button type="submit"
                            class="btn btn-primary m-b-0">Lưu lại
                    </button>
                    <a th:href="@{/course}"
                       class="btn btn-secondary text-white">Quay
                      lại</a>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<th:block layout:fragment="script">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
      let imageFileInput = document.getElementById("imageUpload");
      imageFileInput.addEventListener("change", event => {
          let imgFile = event.target.files[0];
          let formData = new FormData();
          formData.append("file", imgFile);

          axios({
              url: "http://localhost:8082/image/upload",
              method: "POST",
              headers: {
                  'Content-Type': 'multipart/form-data'
              },
              data: formData
          }).then(res => {
              let imgUri = "http://localhost:8082" + res.data;
              let imgUriLink = document.getElementById("imgUri");
              let imgData = document.getElementById("imageData")
              imgUriLink.innerHTML = imgUri;
              imgUriLink.setAttribute("href", imgUri);
              imgData.value = imgUri;
          }).catch(err => {
              console.log(err);
          })
      })
  </script>
</th:block>
</body>
</html>