<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
  <title>ADD NEW USER</title>
</head>
<body>
<div class="main-body" layout:fragment="content">
  <div class="page-body">
    <div class="row">
      <div class="col-md-12 mb-2">
        <div class="page-header-breadcrumb">
          <ul class="breadcrumb-title">
            <li class="breadcrumb-item"><a th:href="@{/admin}"> <i
                    class="feather icon-home"></i> Trang chủ
            </a></li>
            <li class="breadcrumb-item"><a th:href="@{/admin/user/add}">Thêm mới tài khoản</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h2 class="text-uppercase text-center">Thêm mới tài khoản</h2>
          </div>
          <div class="card-block">
            <form th:object="${user}" th:action="@{/admin/user/add}" action="" method="post">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Họ tên</label>
                    <input type="text" th:field="*{fullname}" class="form-control"/>
                    <span class="text-danger" th:if="${#fields.hasErrors('fullname')}" th:errors="*{fullname}"></span>
                  </div>
                  <div class="form-group">
                    <label>Email</label>
                    <input type="text" th:field="*{email}" class="form-control"/>
                    <span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                  </div>
                  <div class="form-group">
                    <label>Mật khẩu</label>
                    <input type="password" th:field="*{password}" class="form-control"/>
                    <span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Điện thoại</label>
                    <input type="text" th:field="*{phone}" class="form-control"/>
                  </div>

<!--                  <div class="form-group">-->
<!--                    <label>Avatar</label>-->
<!--                    <input type="text" th:field="*{avatar}" class="form-control"/>-->
<!--                  </div>-->

                  <div class="form-group">
                    <input th:field="*{avatar}" type="hidden" id="imageData"/>
                    <label>Avatar</label>
                    <input type="file" name="imageUpload" id="imageUpload" class="form-control"
                           accept="image/x-png,image/jpeg,image/jpg"/>
                    <a id="imageUrl" class="text-primary font-italic"></a>
                  </div>
                  <div class="form-group">
                    <label>Loại người dùng</label>
                    <select th:field="*{roleId}" id="" class="form-control">
                      <option th:each="i: ${roles}" th:value="${i.getId()}" th:text="${i.getName()}">somename</option>
                    </select>
                  </div>
                </div>
                <div class="col-12 mt-3">
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary m-b-0">Lưu lại</button>
                    <a th:href="@{/admin/user}" class="btn btn-secondary text-white">Quay lại</a>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<th:block layout:fragment="script">
  <script>
      let imageUpload = document.getElementById("imageUpload");
      imageUpload.addEventListener("change", event => {
          let imageFile = event.target.files[0];
          let formData = new FormData();
          formData.append("file", imageFile);

          axios({
              url: "http://localhost:8082/admin/image/upload",
              method: "POST",
              data: formData
          }).then(res => {
              // console.log(res.data);
              let imageUrl = "http://localhost:8082" + res.data;
              let imageUrlLink = document.getElementById("imageUrl");
              let imageData = document.getElementById("imageData")
              imageUrlLink.innerHTML = imageUrl;
              imageUrlLink.setAttribute("href", imageUrl);
              imageData.value = imageUrl;
          }).catch(err => {
              console.log(err);
          })
      })
  </script>
</th:block>

</body>
</html>