<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
  <title>USER LIST</title>
</head>
<body>
<div class="main-body" layout:fragment="content">
  <div class="page-body">
    <div class="row">
      <div class="col-md-12 mb-2">
        <div class="page-header-breadcrumb">
          <ul class="breadcrumb-title">
            <li class="breadcrumb-item"><a th:href="@{/}"> <i
                    class="feather icon-home"></i> Trang chủ
            </a></li>
            <li class="breadcrumb-item"><a th:href="@{/user}">Danh sách tài khoản</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="card px-3">
          <div class="card-header px-0 pb-2">
            <h2 class="text-uppercase text-center">Danh sách tài khoản</h2>
            <a th:href="@{/user/add}" class="btn btn-sm btn-primary">Thêm mới</a>
          </div>
          <div class="card-block table-border-style">
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th>STT</th>
                  <th>Họ Tên</th>
                  <th>Email</th>
                  <th>Số ĐT</th>
                  <th>Loại Người Dùng</th>
                  <th>Hành Động</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${users}">
                  <td th:text="${item.getId()}">id</td>
                  <td th:text="${item.getFullname()}">fullname</td>
                  <td th:text="${item.getEmail()}">email</td>
                  <td th:text="${item.getPhone()}">phone</td>
                  <td th:text="${item.getRoleName()}">rolename</td>
                  <td>
                    <a th:href="@{/user/edit(id=${item.getId()})}"
                       class="btn btn-sm btn-info btn-round py-1 font-weight-bold">Sửa</a>
                    <a th:href="@{/user/delete(id=${item.getId()})}"
                       class="btn btn-sm btn-danger btn-round py-1 font-weight-bold">Xóa</a>
                    <a th:href="@{/user/password(id=${item.getId()})}"
                       class="btn btn-sm btn-warning btn-round py-1 font-weight-bold">Đổi mật khẩu</a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>