<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
  <title>ADD NEW ROLE</title>
</head>
<body>
<div class="main-body" layout:fragment="content">
  <div class="page-body">
    <div class="row">
      <div class="col-md-12 mb-2">
        <div class="page-header-breadcrumb">
          <ul class="breadcrumb-title">
            <li class="breadcrumb-item">
              <a th:href="@{/}"> <i class="feather icon-home"></i> Trang
                chủ</a>
            </li>
            <li class="breadcrumb-item">
              <a th:href="@{/role}">Quyền</a>
            </li>
            <li class="breadcrumb-item"><a th:href="@{/role/add}">Thêm mới quyền</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h2 class="text-uppercase text-center">Thêm mới quyền</h2>
          </div>
          <div class="card-block">
            <form th:object="${role}" th:action="@{/role/add}" action="" method="post">
              <div class="row">
                <div class="col-md-6 m-auto">
                  <div class="form-group">
                    <label>Tên quyền</label>
                    <input type="text" th:field="*{name}" id="name"
                           class="form-control" />
                    <span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                  </div>
                  <div class="form-group">
                    <label>Mô tả</label>
                    <input type="text" th:field="*{description}" id="desc"
                           class="form-control" />
                    <span class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
                  </div>
                  <div class="form-group mt-3">
                    <button type="submit" onclick="addRole()"
                            class="btn btn-primary m-b-0">Lưu lại</button>
                    <a th:href="@{/role}"
                       class="btn btn-secondary text-white">Quay
                      lại</a>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>